* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  height: 100%;
}



/* header */

header #header-top {
  height: 50px;
  background-color: #000000;
}

header .nav-bar {
  height: 150px;
}

#header-top .row img {
  height: 20px;
}

.nav-bar .collapse .button {
  background-color: #363636;
}


/* header */

/* jumbotron */
#jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-position:center;
  background-size: cover;
}

#jumbotron .card-title {
  font-size:3rem;
}

#jumbotron .btn {
  background-color: #cd3d0f;
}

/* //jumbotron */

main #now {
  background-color: #161c3b;
}

footer {
  background-color: #00439c;
}


/* debug */


.debug.box  {
  background-color: orange;
  width:100px;
  height: 100%;
}

.debug #jumbotron,
.debug #secondsection {
  height: 520px;
  /* background-color: orangered; */
}

.debug .color {
  height: 100px;
  background-color: violet;
  border: 1px solid black;
}