* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.f {
  font-weight: 600;
}



/* header */

header #header-top {
  height: 50px;
  background-color: #000000;
}

header .nav-bar {
  height: 150px;
}

#header-top .row img {
  height: 20px;
}

.nav-bar .collapse .button {
  background-color: #363636;
}


/* header */

/* jumbotron */
#jumbotron {
  height: 540px;
  background-image: url(../img/jumbo-bg.png);
  background-position:center;
  background-size: cover;
}

#jumbotron .card-title {
  font-size:3rem;
}



#jumbotron .btn,
#secondsection .btn {
  background-color: #cd3d0f;
}

/* //jumbotron */

/* main */


main #now {
  background-color: #161c3b;
}

/* firstsection */

main #firstsection img,
main #thirdsection img {
  border-radius: 20px;
}

main #hover img:hover {
  border: 5px solid #1b80d2;
  padding: 3px;
}

main #bor.col-4:hover{
  border-bottom: 5px solid #1b80d2;
}

/* //first section *

/* secondsection */
#secondsection {
  height: 520px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}

#secondsection img {
  width: 40%;
}

#secondsection .card-title {
  font-size: 35px;
}


/* thirdsection */
#thirdsection {
  background-color: #1f1f1f;
}

/* foursection */

/* fifthsection */
#fifthsection  {
  background-color:#bebcbb;
}


#fifthsection .row #image-bgc {
  background-image:url(../img/ps-plus-april-monthly-games-featured-image-block.png) ;
  background-size: 100% 100%;
}



#fifthsection .btn {
  background-color: #d9dadc;
}

/* sixsection */

main #post-sixsection {
  background-color: #161c3b;
}

#second-image-bgc {
  background-image: url(../img/ps-now-april-featured-image-block.png);
  background-size: 100% 100%;
}

/* //sixsection */



/* //main */

/* footer */

footer {
  background-color: #00439c;
}



/* //footer */

/* debug */


/* .debug.box  {
  background-color: orange;
  width:100px;
  height: 100%;
}


.debug .color {
  height: 100px;
  background-color: violet;
  border: 1px solid black;
} */