* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  height: 100%;
}


header .header-top {
  height: 50px;
  background-color: #000000;
}

header .header-bottom {
  height: 150px;
  background-color: #ffffff;
}


/* debug */

.debug .box  {
  background-color: orange;
  width:200px;
  height: 100%;
}