* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  height: 100%;
}


header .header-top {
  height: 50px;
  background-color: #000000;
}

header .nav-bar {
  height: 150px;
}




/* debug */

.debug .box  {
  background-color: orange;
  width:100px;
  height: 100%;
}

.debug .jumbotron {
  height: 520px;
  background-color: orangered;
}
